@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
/* 
img{
    width: 500px;
}

body{
    background-color: rgb(0, 68, 73);
}

.home{
    width: 100%;
    min-height: 100%;
    background-image: url("../public/cover.png");
    background-size: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
} 

 .homeBtn{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 150px;
} 

.album-images{
    width: 300px;
}

.background{
     background-color: rgb(14, 3, 3); 
    background-color: rgb(14, 151, 151);

} 
*/